.docsInvisible {
  width: 295px;
  position:absolute;
  right: -295px;
  z-index: 4;
  top: 0;
  height: calc(100vh - 130px);
  background-color: rgb(255, 255, 255);
  border: 1px solid #9a9a9a;
  border-radius: 4px;
  padding: 0 5px 5px;
  transition: all .3s ease-in-out;
}

.docsVisible {
  width: 295px;
  position:absolute;
  right: 0;
  top: 0;
  z-index: 4;
  height: calc(100vh - 130px);
  background-color: rgb(255, 255, 255);
  border: 1px solid #9a9a9a;
  border-radius: 4px;
  padding: 0 5px 5px;
  transition: all .3s ease-in-out;
}

.lable {
  position: absolute;
  top: 100px;
  left: -55px;
  width: fit-content;
  text-align: center;
  height: 25px;
  background: rgb(61, 88, 102);
  color: white;
  cursor: pointer;
  transition: all .3s ease-in-out;
  padding: 0px 20px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  transform: perspective(4px) rotate(-90deg);
  white-space: nowrap;
  box-shadow: 5px -2px 0px 0px rgba(0,0,0,0.1);
}

.lable:hover {
  background: rgb(122, 168, 187);
}

.click {
  color: rgb(246, 191, 39);
  cursor: pointer;
}

.click:hover {
  text-decoration: underline;
}

.p_Docs{
  display: inline-block;
  margin: 0;
}

.headerDocs {
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.backShow{
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.backHidden{
  display: none;
}

.backArrow {
  width: 18px;
  height: 18px;
}

@media screen and (max-width: 405px) {
  .docsInvisible {
    height: calc(100vh - 161px);
  }
  
  .docsVisible {
    height: calc(100vh - 161px);
  }
}