.wrapperButton {
  text-align: center;
  width: fit-content;
  border: 1px solid rgb(0, 0, 0);
  background-color: #F0F0F0;
  border-radius: 4px;
  cursor: pointer;
  transition: all .1s ease-in-out;
}

.wrapperButton:hover {
  background-color: #e2e1e1;
}

.itemLink {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  font-size: 16px;
}