.wrapper {
  width: calc(100vw - 20px);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0 15px;
}

.sectionWrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.sectionWrapperUnderline {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  border-bottom: 1px solid #bdbdbd;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  padding-bottom: 40px;
}

.title {
  text-align: center;
  margin: 30px 0 30px 0;
}

.subtitle {
  text-align: center;
  margin-bottom: 30px;
}

.about {
  margin-top: 0;
  margin-bottom: 30px;
  line-height: 160%;
  font-size: 18px;
  text-align: center;
}

.wrapperLogo {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.logoGraphQL {
  width: calc(100vw - 50px);
  height: 50vh;
  animation: spin 30s infinite linear;
  margin-bottom: 40px;
}

.logoIcon {
  position: absolute;
  bottom: calc(50% - 40px);
  animation: heartbeat 1.4s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes heartbeat
{
  0%
  {
    transform: scale( .75 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .75 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .75 );
  }
  100%
  {
    transform: scale( .75 );
  }
}

.wrapperStack {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-bottom: 30px;
}

.itemIcon {
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.itemIcon:hover {
  transform: scale(0.9);
}

@media screen and (min-width: 3000px) {
  .logoGraphQL {
    width: 1200px;
    height: 30vh;
  }
}

@media screen and (min-width: 1920px) {
  .logoGraphQL {
    width: 1200px;
    height: 40vh;
  }
}

@media screen and (max-width: 630px) {
  .title {
    text-align: center;
    margin: 10px 0 10px 0;
    font-size: 26px;
  }

  .subtitle {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .about {
    margin-bottom: 20px;
    font-size: 16px;
  }

  .logoGraphQL {
    width: calc(100vw - 50px);
    height: 30vh;
    animation: spin 30s infinite linear;
    margin-bottom: 30px;
  }

  .logoIcon {
    width: 60px;
  }
}
