@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  box-sizing: border-box;
}

body, h1, h3 {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
body,
button,
input,
textarea,
pre,
code {
  font-family: 'Open Sans', sans-serif;
}

button,
a {
  font-weight: 500;
  font-size: 14px;
}

.body-wrapper {
  height: calc(100vh - 119px);
  display: flex;
  background-image: url('/background-auth.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bodyWelcomeWrapper {
  overflow-x: hidden;
  background-image: url('/background-welcome.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container-main {
  position: relative;
  display: flex;
  gap: 10px;
  height: calc(100vh - 179px);
  background: rgb(239 239 239);
  padding: 0 30px 0 10px;
  overflow: hidden;
}

button:hover {
  cursor: pointer;
}

.highlight.brace {
  color: #3d5866;
}

.highlight.stringLiteral {
  color: #008000;
}
  
.highlight.stringKey
.highlight.null
.highlight.booleanLiteral
.highlight.numberLiteral {
  font-weight: bold;
}
  
.highlight.stringKey {
  color: #333;
  font-weight: bold;
}
  
.highlight.booleanLiteral {
  color: #3d5866;
}
  
.highlight.numberLiteral {
  color: #dc143c;
}
  
.highlight.null {
  color: #333;
}
  
.highlight.whitespace {
  border-bottom: 1px dashed #eee;
}
  
.highlight.invalid {
  color: #dc143c;
  font-style: italic;
}

nextjs-portal {
  display: none;
}

@media screen and (min-width: 431px) and (max-width: 800px) {
  .container-main {
    flex-direction: column;
    padding: 0 30px 10px 10px;
    min-height: calc(100vh - 179px);
    height: fit-content;
  }
}

@media screen and (max-width: 430px) {
  .container-main {
    flex-direction: column;
    padding: 0 30px 10px 10px;
    min-height: calc(100vh - 220px);
    height: fit-content;
  }
}