@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
body,
button,
input,
textarea,
pre,
code {
  font-family: 'Lato', sans-serif;
}

button,
a {
  font-weight: 600;
}

.container-main {
  position: relative;
  display: flex;
  gap: 10px;
  height: calc(100vh - 118px);
  background: rgb(239 239 239);
  padding: 0 30px 0 10px;
  overflow: hidden;
}

button:hover {
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .container-main {
    flex-direction: column;
    padding: 0 30px 10px 10px;
    min-height: calc(100vh - 148px);
    height: fit-content;
  }
}

@media screen and (max-width: 405px) {
  .container-main {
    min-height: calc(100vh - 151px);
  }
}