.wrapperErrorToastShow {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  max-width: 320px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  background-color: rgb(255, 94, 94);
  border-radius: 10px;
  padding: 8px 10px;
  z-index: 15;
  transition: top 0.5s ease-in-out;
  color: white;
}

.wrapperErrorToastHidden {
  position: fixed;
  top: -60px;
  left: 0;
  right: 0;
  max-width: 320px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  background-color: rgb(255, 94, 94);
  border-radius: 10px;
  padding: 8px 10px;
  z-index: 15;
  transition: top 0.5s ease-in-out;
  color: white;
}

.imageToast{
  width: 28px;
  height: 28px;
  cursor: pointer;
}