.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 10px 6px;
  background: linear-gradient(#f7f7f7, #e2e2e2);
  border-bottom: 1px solid #d0d0d0;
  position: sticky;
  top: 0;
  z-index: 2;
}

.wrapper img {
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.wrapper img:hover {
  transform: scale(1.05);
}