.wrapper {
  font-family: 'Open Sans', 'Lato', sans-serif;
  min-width: 25vw;
  width: 50vw;
  max-width: 75vw;
  width: 100%;
  height: calc(100% - 32px);
  border: 1px solid gray;
  border-radius: 5px;
  background: rgb(255, 255, 255);
  padding: 0 0 0 15px;
  overflow: auto;
  margin: 13px 0;
}

@media screen and (max-width: 800px) {
  .wrapper {
    margin: 0;
    max-width: 100%;
    height: calc(100vh - 40vh - 167px);
    padding: 15px 0 0 0;
  }
}

@media screen and (max-width: 405px) {
  .wrapper {
    margin: 0;
    max-width: 100%;
    height: calc(100vh - 40vh - 198px);
  }
}