.authForm {
  margin: 1em auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  max-width: 20em;
}

.authForm input {
  width: 100%;
}

.alignCenter {
  display: flex;
  justify-content: center;
  margin: -2.3em auto;
}

.errorText {
  color: crimson;
  font-size: 14px;
  margin: 0;
}

.button:disabled {
  cursor: wait;
}